*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


::selection{
    background-color: #134c5f;
    color: #ffffff;
}


#main{
    width: 100%;
    min-height: 83vh;
    background-image: url(./images/bg.jpg);
    background-position:center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo{
    height: 70px;
}

.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a{
    margin: 0 5px;
    font-size: 0.8rm;
    letter-spacing: 1px;
}

.nav-contact,
.nav-services{
    padding: 13px 25px;
}

.nav-services{
    background-color: #fff;
    color: #000000c2;
    font-weight: 500;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.295);
}

.nav-contact{
    background-color: #124c5f;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.295);
}

.nav-contact:hover{
    background-color: #116a88;
    transition: all ease 0.3s;
}

.main-text{
    position:absolute;
    top: 60%;
    left: 10%;
    transform: translate(-10%, -60%);
    width: 400px;
}

.main-text h1{
    font-size: 3rem;
    font-weight: 700;
    color:#0b0b54;
    line-height: 50px;
}

.main-text p{
    font-size: 0.9rem;
    color: #3a3a3a;
    margin-top: 10px;
}

.main-btns {
    display:flex;
    align-items: center;
    margin-top: 20px;
}
.main-btns a{
    width: 170px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 0.9rem;
    border-radius: 4px;


}

.service-btn{
    background-color: #124c5f;
    color: #ffffff;
}

.service-btn i{
    color: #ffffff;
    margin-left: 5px;
}

.about-btn{
    color: #000000cb;
    background-color: #b7e2d8;
    font-weight: 500;
}

.about-btn i{
    color: #0b0b54;
    margin-left: 5px;
}

.service-btn:hover{
    background-color: #116a88;
    transition: all ease 0.3s;
}

.about-btn:hover{
    background-color: #d0f5ec;
    transition: all ease 0.3s;
}

.pet-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30PX;
}

.pet-logo{
    height: 40px;
    display: flex;
    margin: 20px 40px;
}

.pet-logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: .4;
}

.pet-logo img:hover {
    filter: grayscale(0);
    opacity: 1;
    transition: all ease 0.3s;
}

#about,
#about-2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-image: url(./images/all\ bg.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position:center ;
    
}

.about-img{
    width: 400px;
    height: 500px;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.about-text{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-heading span{
    color: #134c5f;
    text-transform: uppercase;
    font-weight: 500;
}

.services-heading strong{
    color: #2e2e2e;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}


.services-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 50px 0 20 0;
}

.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.service-box i{
    font-size: 2.1rem;
    margin-bottom: 10px;
}



#about-2{
    flex-direction: row-reverse;
}


.contact-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px;
}

.contact-box{
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid #e2e2e2;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #29213f;
    color: #d0f5ec;
}